<div *ngFor="let i of [1,2,3,4,5]">
    <p>Current element of array is:{{i}}</p>
</div>
<p>*****************************************</p>
<div *ngFor="let item of datas">
    <p>name:{{item}}</p>
</div>
<p>*****************************************</p>
<!--nav bar-->
<div >
    <a *ngFor="let i of nav" href="/">{{i}}</a>
</div>
<p>*****************************************</p>
<!--Complex type -->
<div *ngFor="let i of products">
    <label>{{i.name}}={{i.age}}</label>

</div>
<div class="cards">
<div class="card" style="width: 18rem;" *ngFor="let i of products">
    <img [src]="i.url" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{i.name}}</h5>
      <p class="card-text"> {{i.description}}</p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>
  </div>
</div>